@font-face {
  font-family: "Roboto";
  src: url(./Roboto-Regular.woff2) format("woff2"),
    url(Roboto-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto-Regular.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url(./Poppins-Bold.woff2) format("woff2"),
    url(./Poppins-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(Poppins-Regular.woff2) format("woff2"),
    url(Poppins-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(Poppins-Regular.woff2) format("woff2"),
    url(Poppins-Regular.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}
