*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Типы цветов */
  --color-light: #fff;
  --color-default: #170c04;
  --color-accent: #e27b3a;
  --photo-link: #fcf2eb;
  --color-accent-translucent: rgba(
    226,
    123,
    58,
    0.15
  ); /* #e27b3a + opacity 15% */
  --color-dark: #000;
  /* Quality Products: Ширина карточек */
  --quality-products__card-width: 360px;
  /* Quality Products: фоновая картинка карточек */
  --quality-products__card-icon-bg-width: 63px;
  --quality-products__card-icon-bg-height: 54px;
  /* Quality Products: фоновая картинка карточек */
  --quality-products__card-icon-width: 37px;
  --quality-products__card-icon-height: 37px;
  block-size: 100%;
}

.page {
  position: relative; /* для позиционирования фонового рисунка */
  margin: 0 auto;
  color: var(--color-default);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-light);
  inline-size: 1500px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/************* HEADER *************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 176px 13px;
}

.header__logo {
  display: flex; /* для задания ширины картинке логотипа, заключенному в inline тег <a>*/
  align-items: center;
  text-decoration: none;
}

.header__logo-image {
  width: 36px;
  object-fit: contain;
}

.header__logo-text {
  padding-left: 7px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 22px;
}

.header__menu {
  padding-left: 60px;
}

.header__menu-list {
  display: flex;
  gap: 55px;
  list-style: none;
}

.menu-link {
  color: inherit;
  text-decoration: none;
}

.menu-link:hover {
  text-shadow: var(--color-accent) 1px 0 10px;
}

.header__toolbar-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.header__toolbar-item {
  display: flex;
  align-items: center;
}

.header__toolbar-icon {
  max-width: 23px;
  max-height: 23px;
  object-position: center;
}

/************* INTRO *************/

.intro {
  display: flex;
  align-items: center;
  padding-left: 170px;
}

.intro__left-block {
  display: block;
}

.intro__background-image {
  position: absolute;
  top: 0;
  right: -14px; /* выравнивание трапеции  по правому краю */
  width: 559px;
  height: 693px;
}

.intro__puppy-image {
  top: 0;
  left: 0;
  width: 629px;
  height: 610px;
  mix-blend-mode: darken;
}

/* Заголовок листа с карточками */
.main-title {
  width: 522px;
  padding-bottom: 49px;
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
}

/************* QUALITY PRODUCTS  *************/

.quality-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 160px;
}

.quality-products__card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: var(--color-light);
  transition: transform 0.5s;
}

.quality-products__card-icon {
  position: absolute;
  top: calc(-1 * (var(--quality-products__card-icon-height) / 2) - 3px);
  left: calc(
    var(--quality-products__card-width) / 2 -
      var(--quality-products__card-icon-width) / 2
  );
  width: var(--quality-products__card-icon-width);
  height: var(--quality-products__card-icon-height);
  mix-blend-mode: darken;
}

.quality-products__card-icon-bg {
  position: absolute;
  top: calc(-1 * (var(--quality-products__card-icon-bg-height) / 2) - 3px);
  left: calc(
    var(--quality-products__card-width) / 2 -
      var(--quality-products__card-icon-bg-width) / 2
  );
  width: var(--quality-products__card-icon-bg-width);
  height: var(--quality-products__card-icon-bg-height);
}

.quality-products__card:hover {
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px 5px rgba(226, 123, 58, 0.15);
  transform: scale(1.1);
}

.quality-products__card:focus-within {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px 5px rgba(226, 123, 58, 0.15);
  transform: scale(1.1);
}

.quality-products__card-link {
  display: block;
  flex-direction: column;
  width: var(--quality-products__card-width);
  padding: 40px 25px 21px;
  color: var(--color-default);
  text-align: center;
  text-decoration: none;
}

.quality-products__card-link:focus {
  outline: none;
}

.quality-products__card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.quality-products__card-text {
  padding: 9px 6px 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em; /* Pixel Perfect */
}

/************* PRODUCTS *************/

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 117px auto 0;
}

.description-text_products {
  width: 507px;
  padding-top: 12px;
  padding-bottom: 43px;
  text-align: center;
}

/* Блок больших карточек */

.products__big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 555px;
}

.photo-link:focus {
  outline: none;
}

.photo-link:focus-visible,
.testimonial__cards-list:focus-visible {
  outline: 2px solid var(--color-accent);
}

.products__big-card-photo {
  mix-blend-mode: darken;
}

.photo-link_products-big-card {
  height: 420px;
  border-radius: 20px;
}

.products__big-card-title {
  padding-top: 27px;
  padding-bottom: 7px;
  color: var(--color-default);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
}

/* Блок маленьких карточек */

.products__small-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 64px;
  padding-bottom: 46px;
}

.cards-list_products-small-cards {
  padding-top: 65px;
  padding-bottom: 46px;
}

.products__small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.products__small-card-photo {
  mix-blend-mode: darken;
}

.photo-link_products-small-card {
  height: 272px;
  border-radius: 10px;
}

.small-title_products-small-card {
  padding-top: 22px;
  padding-bottom: 10px;
}

/*************  ОБЩИЕ СТИЛИ *************/

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-link {
  color: var(--color-accent);
  text-decoration: none;
}

.card-link:focus {
  outline: none;
}

.card-link:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
  border-radius: 2px;
}

.card-photo {
  mix-blend-mode: darken;
}

.photo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--photo-link);
}

/* Панель с кнопками */
.button-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.button {
  border: 1px solid var(--color-accent-translucent);
  border-radius: 24px;
  padding: 11px 30px;
  color: var(--color-accent);
  font-family: inherit; /* 'Roboto' 400 */
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  border: 1px solid transparent;
  color: var(--color-light);
  background-color: var(--color-accent);
}

.button:hover {
  box-shadow: 0 0 10px rgba(226, 123, 58, 1);
}

.button_accent {
  border: 1px solid transparent;
  color: var(--color-light);
  background-color: var(--color-accent);
}

.button_rectangular {
  border-radius: 4px;
}

.section-title {
  color: var(--color-default);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32.25px;
  letter-spacing: 0.01em; /* Pixel Perfect */
  text-align: center;
}

.description-text {
  opacity: 0.6;
  color: var(--color-default);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.01em; /* Pixel Perfect */
}

.small-title {
  color: var(--color-default);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

/************* DOG CARE *************/

.dog-care {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 79px 125px 0;
}

.dog-care__photo {
  padding: 46px 24px 41px 26px;
}

.dog-care__description {
  width: 487px;
}

.title-link {
  color: var(--color-accent); /*#e27b3a;*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.dog-care__title {
  padding: 4px 0 13px;
  color: var(--color-default);
  line-height: 140%;
  text-align: left;
}

.button-panel-dog-care {
  padding-top: 38px;
}

/************* SUBSCRIBTION *************/

.subscribtion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 180px 0;
}

.section-title_subscribtion {
  width: 474px;
  padding-bottom: 39px;
  line-height: 140%;
  text-align: center;
}

/* Лист карточек */
.cards-list_subscribtion {
  padding-bottom: 43px;
}

.subscribtion__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.subscribtion__card-icon {
  width: 307px;
  height: 264px;
}

.small-title_subscribtion {
  padding: 51px 0 15px;
  line-height: 140%;
  text-align: center;
}

.description-text_subscribtion {
  padding-bottom: 23px;
  line-height: 19px;
  text-align: center;
}

/************* GALLERY *************/

.gallery {
  display: flex;
  justify-content: center;
  gap: 31px;
  min-height: 639px;
  padding-top: 130px;
}

.gallery__left-block {
  width: 554px;
}

.gallery__right-block {
  display: flex;
  width: 555px;
}

.description-text_gallery {
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  letter-spacing: 0.01em; /* Pixel Perfect */
  text-align: center;
}

.photo-link_gallery {
  width: 262px;
  height: 170px;
  border-radius: 5px;
}

.cards-list_gallery {
  padding-top: 33px;
}

.photo-link_bg-900a08 {
  background-color: rgba(144, 10, 8, 0.1); /* ##900a08 + opacity 10% */
}

.photo-link_bg-243d7e {
  background-color: rgba(36, 61, 126, 0.1); /* #243d7e + opacity 10% */
}

.photo-link_bg-800125 {
  background-color: rgba(128, 1, 37, 0.1); /* #800125 + opacity 10% */
}

.photo-link_bg-c48cae {
  background-color: rgba(196, 140, 174, 0.1); /* #c48cae + opacity 10% */
}

.photo-link_bg-c4154b {
  background-color: rgba(196, 21, 75, 0.1); /* #c48cae + opacity 10% */
}

.photo-link_gallery-main-product {
  border-radius: 10px;
}

/************* TESTIMONIAL *************/

.testimonial {
  margin: 120px auto 0;
}

.testimonial__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 19px; /* зазор между селектором и стопкой карточек */
  margin-top: 50px;
}

.testimonial__cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 555px;
  height: 272px;
  margin-left: 32px; /* Pixel Refect */
  border-radius: 10px;
  padding: 27px 30px 21px;
  /* 4 карточки и их тени */
  box-shadow: 0 0 #fff, 0 0 20px rgba(0, 0, 0, 0.06), -10px -10px #fff,
    -10px -10px 20px rgba(0, 0, 0, 0.04), -20px -20px #fff,
    -20px -20px 20px rgba(0, 0, 0, 0.04), -30px -30px #fff,
    -30px -30px 20px rgba(0, 0, 0, 0.04);
  text-decoration: none;
  background: #fff;
}

.testimonial__selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px; /* зазор между стрелками селектора */
  padding-top: 85px; /* Pixel Pefect */
}

.testimonial__card-header {
  display: grid;
  grid-template-columns: 41px 1fr 41px;
  place-items: center;
  place-self: stretch;
}

.photo-link_testimonial-arrow-bg {
  background-color: transparent;
}

.description-text_testimonial {
  padding-top: 16px;
  text-align: center;
}

.man-photo {
  align-self: center;
}

.testimonial__rating {
  display: flex;
  gap: 1px;
  padding-top: 14px;
}

.testimonial__card-footer {
  display: grid;
  grid-template-columns: 41px 1fr 41px;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 21px;
}

.testimonial__client-name {
  color: var(--color-default);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em; /* Pixel Perfect */
}

.description-text_testimonial-spec {
  font-size: 12px;
  line-height: 200%;
  text-align: center;
}

.quote {
  opacity: 0.05;
}

/************* FEEDBACK *************/

.feedback {
  display: grid;
  grid-template-columns: 423px 1fr;
  align-items: center;
  gap: 100px;
  width: 1140px;
  min-height: 346px;
  margin: 86px auto 0;
  padding: 103px 65px;
  background-image: url(../images/blue-rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-title_feedback {
  margin-top: -17px; /* Pixel Perfect */
  color: inherit;
  line-height: 1.4;
  letter-spacing: 0.006em; /* Pixel Perfect */
  text-align: left;
}

.feedback__description {
  color: var(--color-light);
}

.description-text_feedback {
  padding-top: 4px;
  color: inherit;
}

.feedback-form__textfield {
  width: 100%;
  border-color: transparent;
  outline: 1px solid transparent;
  opacity: 0.4;
  color: var(--color-default);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 254%; /* 41px */
}

.feedback-form__label {
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: transparent;
}

.feedback-form__fieldset {
  display: flex;
  height: 70px;
  border-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--color-light);
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 116px;
  border-radius: 10px;
}

.feedback-form__submit-button {
  border-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--color-light);
  font-family: inherit; /* 'Roboto' 400 */
  font-weight: 500;
  font-size: 18px;
  line-height: 226%;
  background-color: var(--color-accent);
  cursor: pointer;
}

/************* Footer *************/

.footer {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 25px;
  width: 100%;
  height: 364px;
  margin: 70px auto 0;
  padding: 59px 180px 105px 179px;
  color: #fcf2eb;
  background-image: url(../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 66px;
  list-style: none;
}

.footer__right-menu-list {
  align-items: end;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer__logo-image {
  width: 48px;
  height: 51px;
  object-fit: contain;
}

.footer-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.footer__socials-links {
  display: flex;
  gap: 25px;
  margin-bottom: -4px;
}

.footer__socials-logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.email-link {
  opacity: 0.8;
  color: var(--color-accent);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
}
