*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Стандатные цвета */
  --color-light: #fff;
  --color-default: #170c04;
  --color-accent: #e27b3a;
  --photo-link: #fcf2eb;
  --color-accent-translucent: rgba(
    226,
    123,
    58,
    0.15
  ); /* #e27b3a + opacity 15% */
  --color-dark: #000;
  /* Quality Products: Ширина карточек */
  --quality-products__card-width: 360px;
  /* Quality Products: фоновая картинка карточек */
  --quality-products__card-icon-bg-width: 63px;
  --quality-products__card-icon-bg-height: 54px;
  /* Quality Products: фоновая картинка карточек */
  --quality-products__card-icon-width: 37px;
  --quality-products__card-icon-height: 37px;

  /* размеры фото списка карточек городов */
  /* --thumbnail-width: 194px;
  --thumbnail-height: 103px; */

  block-size: 100%;
}

.page {
  /* margin: auto; */
  color: var(--color-default);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-light);
  inline-size: 1500px;
  block-size: 100%;
  /* border: 1px solid navy; */
  margin: 0 auto; /* ??? */
  position: relative; /* для позиционирования фонового рисунка */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/************* HEADER *************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 31px 178px 12px; */
  padding: 30px 176px 13px;
  /* border: 1px solid red; */
}

.header__logo {
  display: flex; /* для задания ширины картинке логотипа, заключенному в inline тег <a>*/
  align-items: center;
  text-decoration: none;
  /* border: 1px solid violet; */
}

.header__logo-image {
  width: 36px;
  object-fit: contain;
  /* border: 1px solid green; */
}

.header__logo-text {
  padding-left: 7px;
  font-weight: 500;
  font-size: 22px;
  color: var(--color-dark);
}

.header__menu {
  padding-left: 60px;
  /* border: 1px solid green; */
}

.header__menu-list {
  display: flex;
  gap: 55px;
  list-style: none;
  /* border: 1px solid brown; */
}

.header__menu-link {
  color: inherit;
  text-decoration: none;
  /* font-size: 16px; */ /* наследуется от .page */
}

.header__menu-link:hover {
  text-decoration: underline;
  /* cursor: pointer; */ /* по умолчанию для <a> */
}

.header__toolbar-list {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 40px;
  list-style: none;
  /* border: 1px solid brown; */
}

/* .content {
  display: grid;
  align-items: end;
  gap: 30px;
  grid-template: 1fr / 711px 399px;
} */

/************* INTRO *************/

.intro {
  /* display: flex; */

  padding-left: 170px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* border: 1px solid red; */
}

.intro__left-block {
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 1px solid green; */
}

.intro__background-image {
  position: absolute;
  /* margin: 0; */
  top: 0;
  right: -14px; /* выравнивание трапеции  по правому краю */
  width: 559px;
  height: 693px;
  /* background-image: url(../images/trapezoid.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 525px auto; */
  /* border: 1px solid green; */
}

.intro__puppy-image {
  /* position: absolute; */
  /* padding-top: 45px; */
  top: 0;
  /* right: 0; */
  left: 0;
  width: 629px;
  height: 610px;
  mix-blend-mode: darken;
  /* background-color: transparent; */
  /* background-image: url(../images/trapezoid.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 525px auto; */
  /* border: 1px solid blue; */
}

/* Заголовок листа с карточками */
.main-title {
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  /* padding-top: 136px; */
  padding-bottom: 49px;
  width: 522px;
}

/************* QUALITY PRODUCTS  *************/

.quality-products-list {
  padding-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.quality-products__card {
  position: relative;
  /* border: 1px solid navy; */
  /* width: var(--quality-products__card-width); */
  /* height: 241px; */
  background: var(--color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.quality-products__card-icon {
  position: absolute;
  /* top: -22px;
  left: 161px;
  width: 37px;
  height: 37px; */

  left: calc(
    var(--quality-products__card-width) / 2 -
      var(--quality-products__card-icon-width) / 2
  );
  top: calc(-1 * (var(--quality-products__card-icon-height) / 2) - 3px);
  width: var(--quality-products__card-icon-width);
  height: var(--quality-products__card-icon-height);
  mix-blend-mode: darken;
}

.quality-products__card-icon-bg {
  position: absolute;
  /* top: -25px; */
  /* left: 150px; */
  left: calc(
    var(--quality-products__card-width) / 2 -
      var(--quality-products__card-icon-bg-width) / 2
  );
  top: calc(-1 * (var(--quality-products__card-icon-bg-height) / 2) - 3px);
  width: var(--quality-products__card-icon-bg-width);
  height: var(--quality-products__card-icon-bg-height);
}

.quality-products__card_accent {
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px 5px rgba(226, 123, 58, 0.15);
}

.quality-products__card-link {
  /* display: flex; */
  display: block;
  width: var(--quality-products__card-width);
  flex-direction: column;
  padding: 40px 25px 21px;
  text-decoration: none;
  text-align: center;
  color: var(--color-default);
}

.quality-products__card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.quality-products__card-text {
  padding: 9px 6px 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em; /* Pixel Perfect */
}

/* .roducts__card-text {
  padding: 11px 0 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
} */

/************* PRODUCTS *************/

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 117px auto 0;
}

.description-text_products {
  padding-top: 12px;
  padding-bottom: 43px;
  width: 507px;
  text-align: center;
}

/* Блок больших карточек */

.products__big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 555px;
  /* border: 1px solid red; */
}

.products__big-card-photo {
  mix-blend-mode: darken;
}

.photo-link_products-big-card {
  height: 420px;
  border-radius: 20px;
  /* background-color: #fcf2eb; */
}

.products__big-card-title {
  padding-top: 27px;
  padding-bottom: 7px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: var(--color-default);
}

/* Блок маленьких карточек */

.products__small-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 46px;
  gap: 30px;
  /* border: 1px solid navy; */
}

.cards-list_products-small-cards {
  padding-top: 65px;
  padding-bottom: 42px;
}

.products__small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  /* border: 1px solid red; */
}

.products__small-card-photo {
  mix-blend-mode: darken;
}

.photo-link_products-small-card {
  height: 272px;
  border-radius: 10px;
  /* background-color: #fcf2eb; */
}

.small-title_products-small-card {
  padding-top: 22px;
  padding-bottom: 10px;
  /* font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-default); */
}

/*************  ОБЩИЕ СТИЛИ *************/

.cards-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 30px;
}

.card-link {
  color: var(--color-accent);
  text-decoration: none;
  /* cursor: pointer; */
}

.card-photo {
  mix-blend-mode: darken;
}

.photo-link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--photo-link);
}

/* Панель с кнопками */
.button-panel {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: start; */
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  /* border: 1px solid brown; */
}

.button {
  border-radius: 24px;
  background-color: transparent;
  padding: 11px 30px;
  font-family: inherit; /* 'Roboto' 400 */
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  border: 1px solid var(--color-accent-translucent);
  cursor: pointer;
}

.button_accent {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid transparent;
}

.button_rectangular {
  border-radius: 4px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 32.25px;
  /* line-height: 48px; */
  text-align: center;
  color: var(--color-default);
  letter-spacing: 0.01em; /* Pixel Perfect */
  /* border: 1px dashed navy; */
}

.description-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-default);
  opacity: 0.6;
  letter-spacing: 0.01em; /* Pixel Perfect */
}

.small-title {
  /* padding-top: 22px; */
  /* padding-bottom: 10px; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-default);
}

/************* DOG CARE *************/

.dog-care {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 79px 125px 0;
  /* border: 1px solid red; */
}

.dog-care__photo {
  padding: 46px 24px 41px 26px;
  /* border: 1px solid blue; */
}

.dog-care__description {
  width: 487px;
  /* border: 1px solid green; */
}

.title-link {
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  /* line-height: 19px; */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-accent); /*#e27b3a;*/
}

.dog-care__title {
  padding: 4px 0 13px;
  text-align: left;
  line-height: 140%;
  color: var(--color-default);
}

.button-panel-dog-care {
  padding-top: 38px;
}

/************* SUBSCRIBTION *************/

.subscribtion {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 70px 180px 0;
}

.section-title_subscribtion {
  width: 474px;
  text-align: center;
  line-height: 140%;
  padding-bottom: 39px;
}

/* Лист карточек */
.cards-list_subscribtion {
  padding-bottom: 43px;
}

.subscribtion__card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 360px;
}

.subscribtion__card-icon {
  width: 307px;
  height: 264px;
}

.small-title_subscribtion {
  padding: 51px 0 15px;
  text-align: center;
  line-height: 140%;
}

.description-text_subscribtion {
  text-align: center;
  line-height: 19px;
  padding-bottom: 23px;
}

/************* GALLERY *************/

.gallery {
  display: flex;
  justify-content: center;
  gap: 31px;
  padding-top: 130px;
  min-height: 639px;
  /* border: 1px solid blue; */
}

.gallery__left-block {
  width: 554px;
  /* border: 1px dashed red; */
}

.gallery__right-block {
  width: 555px;
  /* border: 1px dashed red; */
  /* border-radius: 10px; */
  display: flex;
}

.description-text_gallery {
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
  letter-spacing: 0.01em; /* Pixel Perfect */
  text-align: center;
}

.photo-link_gallery {
  height: 170px;
  width: 262px;
  border-radius: 5px;
  /* background-color: #fcf2eb; */
}

.cards-list_gallery {
  padding-top: 33px;
}

.photo-link_bg-900a08 {
  background-color: rgba(144, 10, 8, 0.1); /* ##900a08 + opacity 10% */
}

.photo-link_bg-243d7e {
  background-color: rgba(36, 61, 126, 0.1); /* #243d7e + opacity 10% */
}

.photo-link_bg-800125 {
  background-color: rgba(128, 1, 37, 0.1); /* #800125 + opacity 10% */
}

.photo-link_bg-c48cae {
  background-color: rgba(196, 140, 174, 0.1); /* #c48cae + opacity 10% */
}

.photo-link_bg-c4154b {
  background-color: rgba(196, 21, 75, 0.1); /* #c48cae + opacity 10% */
}

.photo-link_gallery-main-product {
  /* height: 100%; */
  border-radius: 10px;
}

/************* TESTIMONIAL *************/

.testimonial {
  /* padding-top: 120px; */
  margin: 120px auto 0;
  /* width: 620px; */

  /* border: 1px dashed green; */
}

.testimonial__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 19px; /* зазор между селектором и стопкой карточек */
  margin-top: 50px;
}

.testimonial__cards-list {
  /* position: relative; */
  margin-left: 32px; /* Pixel Refect */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* align-items: start; */
  width: 555px;
  height: 272px;
  background: #fff;
  /* 4 карточки и их тени */
  box-shadow: 0 0 #fff, 0 0 20px rgba(0, 0, 0, 0.06), -10px -10px #fff,
    -10px -10px 20px rgba(0, 0, 0, 0.04), -20px -20px #fff,
    -20px -20px 20px rgba(0, 0, 0, 0.04), -30px -30px #fff,
    -30px -30px 20px rgba(0, 0, 0, 0.04);

  padding: 27px 30px 21px;
  text-decoration: none;
  border-radius: 10px;
  /* border: 1px dashed red; */
}

.testimonial__selector {
  padding-top: 85px; /* Pixel Pefect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px; /* зазор между стрелками селектора */
  /* border: 1px dashed blue; */
}

.testimonial__card-header {
  place-self: stretch;
  /* width: 100%; */
  display: grid;
  grid-template-columns: 41px 1fr 41px;
  place-items: center;
  /* border: 1px dotted blue; */
}

.photo-link_testimonial-arrow-bg {
  background-color: transparent;
}

.description-text_testimonial {
  padding-top: 16px;
  text-align: center;
  /* border: 1px dotted red; */
}

.man-photo {
  align-self: center;
  /* border: 1px dotted green; */
}

.testimonial__rating {
  padding-top: 14px;
  display: flex;
  gap: 1px;
}

.testimonial__card-footer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 41px 1fr 41px;
  margin-top: 21px;
  width: 100%;
  /* border: 1px dashed blue; */
}

.testimonial__client-name {
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* text-align: center; */
  color: var(--color-default);
  letter-spacing: 0.01em; /* Pixel Perfect */
}

.description-text_testimonial-spec {
  font-size: 12px;
  line-height: 200%;
  text-align: center;
}

.quote {
  opacity: 0.05;
  /* border: 1px dashed red; */
}

/************* FEEDBACK *************/

.feedback {
  margin: 86px auto 0;
  /* padding-bottom: 500px; */
  display: grid;
  grid-template-columns: 423px 1fr;
  align-items: center;
  gap: 100px;
  padding: 103px 65px;
  /* padding-left: 65px; */
  /* padding-right: 65px; */
  width: 1140px;
  min-height: 346px;
  background-image: url(../images/blue-rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 100% 100%; 
  /*background-size: contain;*/
  /* background-size: cover; */
  /* background-size: 100%; */

  /* object-fit: fill; */
  /* border: 1px dashed blue; */
}

.section-title_feedback {
  text-align: left;
  line-height: 1.4;
  margin-top: -17px; /* Pixel Perfect */
  letter-spacing: 0.006em; /* Pixel Perfect */
  color: inherit;
  /* border: 1px dashed blue; */
}

.feedback__description {
  color: var(--color-light);
  /* border: 1px dashed red; */
}

.description-text_feedback {
  padding-top: 4px;
  /* padding-bottom: 20px; */
  color: inherit;
}

.feedback-form__textfield {
  border-color: transparent;
  outline: 1px solid transparent;
  width: 100%;
  font-family: "Roboto";
  /* font-style: normal; */
  font-weight: 400;
  font-size: 16px;
  line-height: 254%; /* 41px */
  color: var(--color-default);
  opacity: 0.4;
}

.feedback-form__label {
  display: flex;
  width: 100%;
  background-color: transparent;
  padding: 15px;
}

.feedback-form__fieldset {
  display: flex;
  height: 70px;
  background-color: var(--color-light);
  border-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 116px;
  border-radius: 10px;
}

.feedback-form__submit-button {
  background-color: var(--color-accent);
  font-family: inherit; /* 'Roboto' 400 */
  font-weight: 500;
  font-size: 18px;
  line-height: 226%;
  color: var(--color-light);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

/************* Footer *************/

.footer {
  margin: 70px auto 0;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 25px;
  padding: 59px 180px 105px 179px;
  width: 100%;
  height: 364px;
  background-image: url(../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fcf2eb;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  gap: 34px;
  list-style: none;
  /* border: 1px solid brown; */
}

.footer__menu-link {
  color: inherit;
  text-decoration: none;
}

.footer__right-menu-list {
  align-items: end;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.footer__logo-image {
  width: 48px;
  height: 51px;
  object-fit: contain;
}

.footer-title {
  font-family: "Roboto";
  /* font-style: normal; */
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.footer__socials-links {
  display: flex;
  gap: 25px;
  margin-bottom: -4px;
}

.footer__socials-logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.email-link {
  font-family: "Roboto";
  /* font-style: normal; */
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--color-accent);
  opacity: 0.8;
}
