*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Стандатные цвета */
  --color-light: #fff;
  --color-default: #170c04;
  --color-accent: #e27b3a;
  --color-dark: #000;
  /* Quality Products: Ширина карточек */
  --quality-products__card-width: 360px;
  /* Quality Products: фоновая картинка карточек */
  --quality-products__card-icon-bg-width: 63px;
  --quality-products__card-icon-bg-height: 54px;

  /* 
  --color-active: #545050;
   */

  /* размеры фото списка карточек городов */
  /* --thumbnail-width: 194px;
  --thumbnail-height: 103px; */

  block-size: 100%;
}

.page {
  /* margin: auto; */
  color: var(--color-default);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-light);
  inline-size: 1500px;
  block-size: 100%;
  /* border: 1px solid navy; */
  margin: 0 auto; /* ??? */
  position: relative; /* для позиционирования фонового рисунка */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* .visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} */

/************* HEADER *************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 31px 178px 12px; */
  padding: 31px 176px 13px;
  /* border: 1px solid red; */
}

.header__logo {
  display: flex; /* для задания ширины картинке логотипа, заключенному в inline тег <a>*/
  align-items: center;
  text-decoration: none;
  /* border: 1px solid violet; */
}

.header__logo-image {
  width: 36px;
  object-fit: contain;
  /* border: 1px solid green; */
}

.header__logo-text {
  padding-left: 7px;
  font-weight: 500;
  font-size: 22px;
  color: var(--color-dark);
}

.header__menu {
  padding-left: 60px;
  /* border: 1px solid green; */
}

.header__menu-list {
  display: flex;
  gap: 55px;
  list-style: none;
  /* border: 1px solid brown; */
}

.header__menu-link {
  color: inherit;
  text-decoration: none;
  /* font-size: 16px; */ /* наследуется от .page */
}

.header__menu-link:hover {
  text-decoration: underline;
  /* cursor: pointer; */ /* по умолчанию для <a> */
}

.header__toolbar-list {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 40px;
  list-style: none;
  /* border: 1px solid brown; */
}

/* .content {
  display: grid;
  align-items: end;
  gap: 30px;
  grid-template: 1fr / 711px 399px;
} */

/************* INTRO *************/

.intro {
  /* display: flex; */

  padding-left: 170px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* border: 1px solid red; */
}

.intro__left-block {
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 1px solid green; */
}

.intro__background-image {
  position: absolute;
  /* margin: 0; */
  top: 0;
  right: -14px; /* выравнивание трапеции  по правому краю */
  width: 559px;
  height: 693px;
  /* background-image: url(../images/trapezoid.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 525px auto; */
  /* border: 1px solid green; */
}

.intro__puppy-image {
  /* position: absolute; */
  /* padding-top: 45px; */
  top: 0;
  /* right: 0; */
  left: 0;
  width: 629px;
  height: 610px;
  mix-blend-mode: darken;
  /* background-color: transparent; */
  /* background-image: url(../images/trapezoid.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 525px auto; */
  /* border: 1px solid blue; */
}

/* Заголовок листа с карточками */
.main-title {
  font-family: "Poppins Bold", serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  /* padding-top: 136px; */
  padding-bottom: 49px;
  width: 522px;
}

/* Панель с кнопками */
.intro__button-panel {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: start; */
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  /* border: 1px solid brown; */
}

.button {
  border-radius: 24px;
  background-color: transparent;
  padding: 11px 28px;
  font-family: inherit; /* 'Roboto' 400 */
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.button_accent {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid transparent;
}

/************* QUALITY PRODUCTS  *************/

.quality-products {
  padding-top: 159px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.quality-products__card {
  position: relative;
  /* border: 1px solid navy; */
  width: var(--quality-products__card-width);
  /* height: 241px; */
  background: var(--color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.quality-products__card-icon {
  position: absolute;
  top: -22px;
  left: 161px;
  width: 37px;
  height: 37px;
}

.quality-products__card-icon-bg {
  position: absolute;
  /* top: -25px; */
  /* left: 150px; */
  left: calc(
    var(--quality-products__card-width) / 2 -
      var(--quality-products__card-icon-bg-width) / 2
  );
  top: calc(0 - (var(--quality-products__card-icon-bg-height) / 2));
  /* object-position: 50% 50%; */
  width: var(--quality-products__card-icon-bg-width);
  height: var(--quality-products__card-icon-bg-height);
}

.quality-products__card_accent {
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px 5px rgba(226, 123, 58, 0.15);
}

.quality-products__card-link {
  display: flex;
  flex-direction: column;
  padding: 40px 25px 21px;
  text-decoration: none;
  text-align: center;
  color: var(--color-default);
}

.quality-products__card-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
}

.quality-products__card-text {
  padding: 11px 0 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.quality-products__card-text-link {
  color: var(--color-accent);
  text-decoration: none;
  /* cursor: pointer; */
}

/************* ОБЩИЕ СТИЛИ КНОПОК *************/

/*.button {
  min-height: 34px;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background: var(--color-active);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--color-light);
  outline-offset: -3px;
} */

/************* FOOTER *************/

/* .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fee42a;
  padding: 20px;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__links a {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
} */
